<div class="bgimg-1">
  <div class="caption">
    <span class="border">PROJECTSPACE</span>
  </div>
</div>
<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">A HUB FOR PASSION PROJECTS</h3>
  <p>
    ProjectSpace is a collaboration tool for those that are looking to create. Have you ever thought of an idea but haven't had the right group of people to help you execute that million dollar idea of yours? Look no further. Join our community to find others to build your project, or find projects created by others that you want to join.
  </p>
</div>
<div class="bgimg-2">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: grey;">GOT A PROJECT?</span>
  </div>
</div>
<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p class="quote">“ Project Space gave me a place to explore my passions, the talent to encourage me, and the empowerment to realize I can do it – I can do anything I set my mind to ” – David, M.D., Ph.D., L.D., CPA
    </p>
  </div>
</div>
<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
  </div>
</div>
<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Collaborate with a diverse set of people.</p>
    <p>
      You can look at the profiles of every person that applies to your project. In addition, you may only apply to the roles that the project creator is looking for. No matter what your background is, if your fit works well with the project creators, there will always be something to create. It's never too late to dive in and explore endless possibilities.
    </p>
  </div>
</div>
<div class="bgimg-1">
  <div class="caption">
    <%= link_to 'Start Exploring', projects_path, class: "explore" %>
  </div>
</div>
